body{
    overflow: hidden;
    font-family: 'Tajawal';
    font-weight: 300;

}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

#sidebar-container a{
    background-color: #189fd4;
    text-decoration: none;
}

#sidebar-container a:hover{
    background-color: #41b8e7;
    color: black !important;
}

#idiomas{
    background-color: #189fd4;
    text-decoration: none;
    border-bottom-width: 0px;

}

#idiomas a:hover{
    background-color: #41b8e7;
    color: black !important;
}

.oscuro{
    background-color: #1f1f1f;
    color: #f1eded;
}

.luminoso{
    background-color: #ffffff;
    color: #000000;
}

#contenido{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

